@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
	--primary: #242529;
	--secondary: #36373e;
	--tertiary: #fff27a;
	--fourth: #fff27a;
	--text-primary: white;
}

* {
	color: var(--text-primary);
	box-sizing: border-box;
	font-family: 'Rubik';
}

body {
	background-color: var(--primary);
}

a {
	color: white;
	width: 100%;
	margin-top: 5px;
	text-decoration: none;
}

	a:hover {
		color: var(--text-primary);
	}
/* Login Page */
#mainContent {
	max-width: 1000px;
	border-radius: 20px;
	background-color: var(--secondary);
}

	#mainContent h1 {
		color: var(--text-primary);
		font-size: 40px;
		line-height: 60%;
		display: flex;
	}

	#mainContent h2 {
		font-size: 20px;
		display: flex;
		margin-bottom: 30px;
	}

	#mainContent .imageContainer, #mainContent .imageContainer img {
		background-color: var(--secondary);
		border-radius: 20px 0px 0px 20px;
		padding: 0px;
	}

.loginBox {
	background-color: var(--secondary);
	border-radius: 20px;
}

.loginContainer {
	width: 100%;
}

	.loginContainer input[type="text"] {
		width: 100%;
		padding: 8px 20px;
		border-radius: 5px;
		border: 1px solid var(--tertiary);
		background-color: var(--secondary);
	}

		.loginContainer input[type="text"]:focus {
			outline: none;
		}

	.loginContainer input[type="submit"] {
		width: 100%;
	}
/* Main Page */
main.container-fluid {
	height: 100vh;
	width: 100vw;
	background-color: var(--primary);
}

main div.row {
	height: 50%;
}

main > div {
	background-color: var(--primary);
}

.container-fluid .row > div {
	max-height: 100%;
}

div.content {
	background-color: var(--secondary);
	width: 100%;
	height: 100%;
	border-radius: 10px;
	padding: 15px;
	overflow: hidden;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

	div.content h1 {
		font-size: 1.7vw;
		padding: 0px 8px;
		margin-top: 9px;
	}

	div.content div.d-flex span {
		padding: 0px 10px;
		border-radius: 5px;
		background-color: var(--tertiary);
		height: 48px;
	}

h3 span {
	padding: 0px 5px 10px 0px;
	border-radius: 5px;
	background-color: var(--tertiary);
	color: black;
}

div.d-flex.pb-2 {
	align-items: center;
}

ol {
	list-style: none;
	counter-reset: list;
	padding-left: 0px;
	max-height: 100%;
}

li {
	position: relative;
	counter-increment: list;
	width: 98%;
	margin: 0px 0px 1rem 0px;
	padding: 1.6rem 1rem 0.7rem 1rem;
	border-radius: 7px;
	background: linear-gradient(90deg, var(--primary) 10%, var(--secondary) 50%, var(--primary) 100%);
}

	li::before {
		content: '';
		display: block;
		width: 100%;
		height: 1rem;
		position: absolute;
		border-radius: 7px 7px 0px 0px;
		top: 0;
		left: 0;
		background-color: var(--tertiary);
	}

h3 {
	display: flex;
	align-items: baseline;
	color: var(--text-primary);
	font-size: 1rem;
	margin-bottom: 4px;
}

	h3::before {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 auto;
		margin-right: 0.5rem;
		width: 2rem;
		height: 2rem;
		content: counter(list);
		padding: 1rem;
		border-radius: 50%;
		color: black;
		background-color: var(--tertiary);
	}

.btn-success {
	background-color: var(--tertiary);
	color: black;
}
/* SCROLLBAR */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: var(--secondary);
}

::-webkit-scrollbar {
	padding-left: 3px;
	width: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--primary);
}
/* LEADERBOARD */
div.userCard {
	width: 99%;
	min-height: 60px;
	background: rgb(36,37,41);
	background: linear-gradient(90deg, var(--primary) 10%, var(--secondary) 50%, var(--primary) 100%);
	border-radius: 5px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0px 10px;
	margin: 0px 0px 10px 0px;
	cursor: pointer;
}

	div.userCard div.userImgPlaceholder {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: var(--secondary);
	}

		div.userCard div.userImgPlaceholder img {
			max-width: 100%;
			border-radius: 50%;
		}

	div.userCard div.userInfo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 85%;
		height: 100%;
	}

		div.userCard div.userInfo p {
			margin-bottom: 0px;
		}

p.userName {
	color: var(--text-primary);
}
/* Your Progress */
.ag-courses_box {
	height: 85%;
}

.ag-courses_item {
	margin: 0px 0px 10px 0px;
	overflow: hidden;
	border-radius: 8px;
	height: 80px;
	display: flex;
	background: rgb(36,37,41);
	background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
	overflow: hidden;
	position: relative;
	text-decoration: none;
	padding: 30px 20px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.ag-courses-item_title {
	overflow: hidden;
	font-weight: bold;
	font-size: 20px;
	color: var(--text-primary);
	z-index: 2;
	position: relative;
	text-decoration: none;
}

.ag-courses-item_bg {
	height: 128px;
	width: 128px;
	background: var(--tertiary);
	z-index: 1;
	position: absolute;
	top: -75px;
	right: -55px;
	border-radius: 50%;
	transition: all .3s ease;
	transform: scale(1.9);
}

.ag-courses_item:hover .ag-courses-item_bg {
	transform: scale(2.1);
	opacity: 5%;
}

.ag-courses_item:hover .number {
	color: white;
}

.ag-courses_item .number {
	color: black;
	font-size: 40px;
	font-weight: bold;
	z-index: 100;
	animation-name: fromRight;
	animation-duration: 0.5s;
}

@keyframes fromRight {
	from {
		margin-right: -70px;
	}

	to {
		margin-right: 0px;
	}
}
/* Rewards */
.rewards {
	height: 95%;
}

	.rewards .cardsContainer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		overflow: auto;
		height: 95%;
		padding: 0px;
	}

	.rewards .card, .rewards #addRewardCard {
		position: relative;
		width: 140px;
		height: 180px;
		background: rgb(36,37,41);
		background: linear-gradient(90deg, var(--primary) 10%, var(--secondary) 50%, var(--primary) 100%);
		border-radius: 10px;
		overflow: hidden;
		margin-bottom: 15px;
		flex-basis: 30%;
		margin: 10px;
	}

		.rewards #addRewardCard{

		}

		.rewards .card:before, #addRewardCard:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--tertiary);
			clip-path: circle(200px at 50% -60%);
			transition: 0.5s ease-in-out;
		}

		.rewards .card:hover:before {
			clip-path: circle(100px at 60% -60%);
		}

		.rewards .card .imgBx {
			position: absolute;
			top: 30%;
			transform: translateY(-50%);
			z-index: 1000;
			width: 100%;
			height: 100%;
			transition: .5s;
		}

		.rewards .card:hover .imgBx {
			top: 0%;
			transform: translateY(-30%);
		}

		.rewards .card .imgBx img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(20deg);
			width: 120px;
		}

		.rewards .card .contentBx {
			position: absolute;
			bottom: -20px;
			width: 100%;
			text-align: center;
			transition: 0.5s;
			z-index: 90;
		}

		.rewards .card:hover .contentBx {
			bottom: 5px;
		}

		.rewards .card .contentBx h2 {
			position: relative;
			font-weight: 600;
			letter-spacing: 1px;
			color: var(--text-primary);
			font-size: 20px;
			transform: translateY(0px);
		}

		.rewards .card .contentBx h4 {
			font-size: 20px;
			transform: translateY(0px);
		}

		.rewards .card:hover .rewards .card .contentBx h2, .rewards .card .contentBx h4 {
			transform: translateY(0px);
		}

		.rewards .card .contentBx button, .rewards .card .contentBx input {
			display: inline-block;
			text-decoration: none;
			color: black;
			opacity: 0;
			transform: translateY(10px);
			transition: .5s;
		}

		.rewards .card:hover .contentBx button, .rewards .card:hover .contentBx input {
			opacity: 1;
			transform: translateY(0px);
			transition-delay: 0s;
		}

		.rewards .card .contentBx button:hover, .rewards .card .contentBx input:hover {
			color: white;
		}

.btn-success {
	position: relative;
	transition: all 0.3s ease-in-out;
	border: none;
}

	.btn-success:hover {
		box-shadow: inset 260px 0px 0px 0px var(--secondary);
		color: white;
		border: none;
	}
/* Recent Transactions */
.recentTransactions {
	background: rgb(36,37,41);
	background: linear-gradient(90deg, var(--primary) 10%, var(--secondary) 50%, var(--primary) 100%);
	width: 99%;
	padding: 10px 10px;
	margin: 0px 0px 10px 0px;
	border-radius: 10px;
}

	.recentTransactions .transactionsContainer .transaction {
		width: 99%;
		min-height: 45px;
		background-color: transparent;
		border-radius: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 10px;
	}

.up {
	color: var(--tertiary);
}

.down {
	color: indianred;
}

.bold {
	font-weight: bold;
}

.white {
	color: white;
}

.black {
	color: black;
}
/* Modal */
.modal-content {
	background-color: var(--primary);
	color: white;
}

	.modal-content .form-control {
		background-color: var(--primary);
		color: white;
	}

		.modal-content .form-control::file-selector-button {
			background-color: var(--tertiary);
			border: 1px solid var(--tertiary);
		}

		.modal-content .form-control:hover::file-selector-button {
			box-shadow: inset 260px 0px 0px 0px var(--secondary);
			color: white;
			border: 1px solid var(--secondary);
		}

.btn-close {
	color: white;
}
/* PROFILE */
#MainContent_profileImage2 {
	width: 130px;
	height: 130px;
	border-radius: 50%;
}

#MainContent_profileUsername2 {
	font-size: 1.5em;
}

#profileModal .modal-content h2 {
	font-size: 1.2em;
}

#profileModal .modal-content span {
	padding: 0px 10px;
	border-radius: 5px;
	background-color: var(--tertiary);
	height: 48px;
	margin-right: 10px;
}

#profileModal .modal-header {
	padding: 16px 0px;
}

h1.modal-title {
	font-size: 1.7vw;
}
/* responsiveness */
@media (max-height: 640px) {
	.ag-courses_box {
		height: 90%;
		padding: 40px 0px 20px 0px;
	}
}

@media (max-width: 900px) {
	div.content h1, h1.modal-title {
		font-size: 5vw;
		padding: 0px 8px;
		margin-top: 9px;
	}

	.rewards .card {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}

		.rewards .card:before {
			clip-path: circle(200px at 60% -60%);
		}
}

@media (max-width: 1200px) {
	main div.row {
		height: auto;
	}

	main > div {
		height: auto;
	}

	.container-fluid .row > div {
		max-height: none;
		flex: 1 0 100%;
		margin-bottom: 20px;
	}

	.rewards .card {
		flex-basis: 40%;
		margin: 10px;
		flex-grow: 1;
	}
}

@media (max-width: 1500px) {
	.TransactionDate {
		display: none;
	}
}
