@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


:root {
	--primary: #242529;
	--secondary: #36373e;
	--tertiary: #fff27a;
	--fourth: #fff27a;
	--text-primary: #b3b1ac;
}

*{
    color: var(--text-primary);
    box-sizing: border-box;
    font-family: 'Rubik';
}

body {
    background-color: var(--primary);
}

main.container-fluid {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary);
}

main div.row {
    height: 50%;
}

main > div {
    background-color: var(--primary);
}

.container-fluid .row > div {
	max-height: 100%;

}

div.content {
	background-color: var(--secondary);
	width: 100%;
	height: 100%;
	border-radius: 10px;
	padding: 15px;
	overflow: hidden;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


div.content h1{
    font-size: 1.7vw;
    padding: 0px 8px;
    margin-top: 9px;
}

div.content div.d-flex span{
    padding: 0px 10px;
    border-radius: 5px;
    background-color: var(--tertiary);
    height: 48px;

}

div.d-flex.pb-2{
	align-items:center;
}

div.content img {
}


ol {
	list-style: none;
	counter-reset: list;
	padding-left: 0px;
	max-height: 100%;
}

li {
	position: relative;
	counter-increment: list;
	width: 98%;
	margin: 0px 0px 1rem 0px;
	padding: 1.6rem 1rem 0.7rem 1rem;
	border-radius: 0.25rem;
	background: rgb(36,37,41);
	background: linear-gradient(90deg, rgba(36,37,41,1) 10%, rgba(54,55,62,1) 50%, rgba(36,37,41,1) 100%);
}


li::before {
	content: '';
	display: block;
	width: 100%;
	height: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--fourth);
}

h3 {
	display: flex;
	align-items: baseline;
	color: white;
	font-size: 1rem;
	margin-bottom: 4px;
}

h3::before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 0.5rem;
	width: 2rem;
	height: 2rem;
	content: counter(list);
	padding: 1rem;
	border-radius: 50%;
	color: black;
	background-color: var(--fourth);
}

.btn-success{
	background-color: var(--tertiary);
	color: black;
}
/* SCROLLBAR */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: var(--secondary);
}

::-webkit-scrollbar {
	padding-left: 3px;
	width: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--primary);
}

/* LEADERBOARD */

div.userCard {
	width: 99%;
	min-height: 60px;
	background: rgb(36,37,41);
	background: linear-gradient(90deg, rgba(36,37,41,1) 10%, rgba(54,55,62,1) 50%, rgba(36,37,41,1) 100%);
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
	margin: 0px 0px 10px 0px;
}

div.userCard div.userImgPlaceholder{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--secondary);
}

div.userCard div.userImgPlaceholder img{
	max-width: 100%;
	border-radius: 50%;
}

div.userCard div.userInfo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
	height: 100%;
}

div.userCard div.userInfo p{
	margin-bottom: 0px;
}

p.userName {
	color: white;
}

/* */
.ag-courses_box {
	height: 90%;
}

.ag-courses_item {
	margin: 0 15px 15px;
	overflow: hidden;
	border-radius: 8px;
	height: 90px;
	display: flex;
	background: rgb(36,37,41);
	background: linear-gradient(90deg, rgba(36,37,41,1) 0%, rgba(54,55,62,1) 100%);
	overflow: hidden;
	position: relative;
	text-decoration: none;
	padding: 30px 20px;
	width: 90%;
	justify-content: left;
	align-items: center;
}

.ag-courses_item:hover .ag-courses-item_bg {
	transform: scale(3);
}

.ag-courses-item_title {
	overflow: hidden;
	font-weight: bold;
	font-size: 20px;
	color: #FFF;
	z-index: 2;
	position: relative;
	text-decoration: none;
	
}

.ag-courses-item_bg {
	height: 128px;
	width: 128px;
	background: var(--tertiary);
	z-index: 1;
	position: absolute;
	top: -75px;
	right: -75px;
	border-radius: 50%;
	transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
	background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
	background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
	background-color: #952aff;
}

/* responsiveness */

@media (max-width: 768px) {
	main div.row {
		height: auto;
	}

	main > div {
		height: auto;
	}

	.container-fluid .row > div {
		max-height: none;
		flex: 1 0 100%;
	}
}


@media only screen and (min-width: 576px) and (max-width: 767px) {
	/* Estilos para telas entre 576px e 767px (Small) */
}

/* Estilos para tamanhos de tela Medium */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/* Estilos para telas entre 768px e 991px (Medium) */
}

/* Estilos para tamanhos de tela Large */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	/* Estilos para telas entre 992px e 1199px (Large) */
}